* {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  overflow-x: hidden;
  min-width: 700px;
}
.hide {
  display: none;
}
header {
  background-color: #1f1f1f;
  padding: 20px 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  min-width: 500px;
  margin: 0 auto;
}
nav img {
  cursor: pointer;
}
nav a {
  text-decoration: none;
  color: #7d7d7d;
}
.shapeshift-container {
  position: relative;
  width: 280px;
  height: 310px;
  max-width: 280px;
  margin: 0 auto;
}

.block {
  background-color: white;
  position: absolute;
  cursor: pointer;
}
.block:nth-child(1) {
  animation: shapeshift_b1 15s ease-in;
}
.block:nth-child(2) {
  animation: shapeshift_b2 15s ease-in;
}
.block:nth-child(3) {
  animation: shapeshift_b3 15s ease-in;
}
#block1,
#block2 {
  width: 135px;
  height: 55px;
}
.block:nth-child(2),
#block2 {
  left: 138px;
  top: 0;
}
.block:nth-child(3),
#block3 {
  top: 70px;
  left: calc(48% - 22.25px);
  width: 55px;
  height: 252px;
}
section:first-of-type {
  width: 100vw;
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 0;
}
#welcome-section {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
#welcome-section p {
  margin-top: 100px;
}
nav img {
  opacity: 0%;
}
svg {
  opacity: 80%;
  margin-top: 40px;
  width: 10px;
}
.whoIAm {
  text-align: center;
  color: #ffffff;
  margin: 620px auto;
}

.projects {
  padding: clamp(10px, 100px, 264px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.project-container {
  position: relative;
  max-width: 1000px;
}
.project-container:nth-child(1):before {
  content: "#1 - Learnmate";
  position: absolute;
  top: -50px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.project-container:nth-child(2):before {
  content: "#2 - Canon";
  position: absolute;
  top: -50px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.project-container:nth-child(3):before {
  content: "#3 - Tesla";
  position: absolute;
  top: -50px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.project-container:nth-child(4):before {
  content: "#4 - TikTok";
  position: absolute;
  top: -50px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.project-container img {
  width: 100%;
}
.noteContainer {
  background-color: #000000;
  opacity: 90%;
  padding: 20px 0;
}
.noteWithCTA {
  display: flex;
  width: 80%;

  justify-content: space-between;
  margin: 0 auto;
}
.noteWithCTA i {
  width: 400px;
  color: white;
  font-size: 0.8rem;
  padding: 5px;
}
#projectsTitle {
  position: relative;
}
.main_header {
  background-color: rgb(33, 33, 33);
  padding: clamp(100px, 100px, 264px);
  color: white;
  text-align: center;
}
button {
  cursor: pointer;
  border: 0;
  border-radius: 5;
  padding: 5px 20px;
  margin-right: 5px;
}
.small {
  max-width: 300px;
  gap-right: 5px;
}
#contactSection {
  display: flex;
  flex-direction: column;
}
#contactSection,
#contactSection a {
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
}
#contactSection a {
  margin-top: -5px;
}
#contactSection {
  background-color: #2e2e2e;
  padding-bottom: 30px;
}
