body{
  margin:0;
  background-color:#E8E8E8;
}
  nav{
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  height:70px;
}
@media (max-width:1100px){
  .nav-link{
    display:none;
  }
}
#header-img{
  height:40px;
}
nav ul{
  display:flex;
  list-style-type:none;
  gap:56px;
}

main{
  margin-top:220px;
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
  outline:solid red;
}
.info{
  outline:solid green;
  min-width:450px;
}
.rectangleGrad{
  width:100vw;
  position:absolute;
}
#carImg{
  outline:solid blue;
  position:relative;
  left:-80px;
}
#main_logo{
  width:40px;
}
.hero img{
  flex: 1 0 0;
}
.hero::after{
  content:'';
  width:100vw;
  position:absolute;
  height:100vh;
  background:linear-gradient(rgb(221,221,221), #FFFF 20%);
  z-index:-1;
  top:500px;
  left:0;
}
form{
  max-width:100px;
}
a{
    color:#434343;
  text-decoration:none;
}
h1{
  font-size:54px;
  margin-top:-5px;
  margin-left:-4px;
}
*{
  font-family:sans-serif;
}
.hero{
  display:flex;
  width:100vw;
}
.buttonSet{
  display:flex;
}
p{
  font-size:16px;
}
.other_models{
  text-align:center;
}
.emptyFeatures{
  background-color:#EAEAEA;
  width:100%;
  height:20px;
}
.successor{
  color:#E82127;
}
button{
  border-radius:18px;
  padding: 9px 18px;
  border-color:#E82127;
  color:#434343;;
}
.buttonSet button:first-of-type{
  margin-right:10px;
  color:white;
  background-color:#E82127;
}