body {
  margin: 0;
  background-color: #e8e8e8;
  overflow-x: hidden;
}
nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  z-index: 999;
}
@media (max-width: 1100px) {
  .nav-link {
    display: none;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .hero .info {
    text-align: center;
    justify-content: center;
    max-width: 940px;
  }
  .hero.info.buttonSet {
    margin: 0 auto;
    width: 100px;
  }
}
#header-img {
  height: 40px;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 56px;
}

main {
  margin-top: 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  outline: solid red;
}
.info {
  outline: solid green;
  min-width: 450px;
}

#carImg {
  outline: solid blue;
  position: relative;
  max-width: max-content;
}
#main_logo {
  width: 40px;
}

.hero::after {
  content: "";
  width: 100vw;
  position: absolute;
  height: 100vh;
  background: linear-gradient(rgb(221, 221, 221), #ffff 20%);
  z-index: -1;
  top: 400px;
  left: 0;
  outline: solid orange;
}
form {
  max-width: 100px;
}
a {
  color: #434343;
  text-decoration: none;
}
h1 {
  font-size: 54px;
  margin-top: -5px;
  margin-left: -4px;
}
* {
  font-family: sans-serif;
}
.hero {
  display: flex;
}

p {
  font-size: 16px;
}
.other_models {
  text-align: center;
}
.emptyFeatures {
  background-color: #eaeaea;
  width: 100%;
  height: 20px;
}
.successor {
  color: #e82127;
}
button {
  border-radius: 18px;
  padding: 9px 18px;
  border-color: #e82127;
  color: #434343;
}
.buttonSet button:first-of-type {
  margin-right: 10px;
  color: white;
  background-color: #e82127;
}
